@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    9033 Sweet Bay Ct<br />
    Indianapolis, IN 46260<br />
    <abbr title="Phone">Cell:</abbr>
    317-797-4979
    <br />
    Email: hball1217@gmail.com
</address>
