@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRT Tracker</h1>
    <p>Track Your PRT Scores</p>
    <p>Write a Goal</p>
    <p>Track Your Calories and what you eat</p>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>@Html.ActionLink("Write A Goal", "Index", "Goal")</h2>
        <p>
            <img src="~/Content/Assets/NavyAnchor.jpg" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Record A PRT", "Index", "PrtScores")</h2>
        <p>
            <img src="~/Content/Assets/BcaChart.jpg" height="500" width="350"/>
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Enter in Your Daily Meals", "Index", "Nutrition")</h2>
        <p><img src="~/Content/Assets/Foodpyrmid.jpg"</p>
    </div>
</div>